.images
*./img
*./lista.csv
img
lista.csv
/database.sqlite
database.sqlite
*.dat
*.log
./data
*.env
.env
.archive.zip
.fraude.csv
/img
lista.csv
**/images

**/.vscode
**./data
**/.data
**/data/archive.zip
**./data
data